.root {
  display: flexbox;
  margin-top: 20px;
  min-height: 300px;
}

.buttonDefault{
  width: 150px;
  margin: auto !important;
  margin-top: 15px !important;
  background-color: #cbc4e2 !important;
  color: white !important;
}

.buttonDefault:hover{
  background-color: #7159 !important;
}

.buttonDefault:disabled{
  background-color: grey !important;
}

.buttonCancel{
  width: 150px;
  margin: auto !important;
  margin-right: 15px !important;
  margin-top: 15px !important;
  background-color: cornflowerblue !important;
  color: white !important;
}

.buttonCancel:hover{
  background-color: #7159 !important;
}

.buttonCancel:disabled{
  background-color: grey !important;
}

p {
  font-size: 1.2rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}